.formContainer{
    background-color: #a8db83;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: white;
        padding: 30px 60px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo{
            color: #6b8d53;
            font-weight: bold;
            font-size: 24px;
            align-items: start;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 10px;
                border: black;
                border-bottom: 1px solid black;
            &::placeholder{
                color: rgb(175,175,175);
            }
            }

            button{
                background-color: #6b8d53;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
        }
        p{
            color: #5d5b8d;
            font-size: 15px;
            margin-top: 10px;
        }
    }
}

.forumData{
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .forumLatest{
        display: flex;
        flex-direction: column;
    }
    
    .postFull{
        width: 25rem;
        height: 5rem;
        background-color: white;
        padding: 15px;
        display: flex;
        border-radius: 1rem;
        flex-direction: column;
        margin: 0.5rem;
        text-decoration: none;

        .threadTitle{
            margin: 0.5rem 5%;
        }
    }
}

.chatHome{
    background-color:#a8db83;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        background-color: #6b8d53;
        //border: 1px solid white;
        border-radius: 10px;
        width: 50%;
        height: 90%;
        display: flex;
        overflow: hidden;

        .threads{
            flex: 3;
            //border: 1px solid white;
            border-radius: 10px;
        }

        .postFull{
            width: max;
            height: 5rem;
            //background-color: white;
            padding: 15px;
            display: flex;
            //border-radius: 1rem;
            flex-direction: column;
            //margin: 0.5rem;
            text-decoration: none;
            //border-top: 2px solid #a8db83;
            border-bottom: 2px solid #a8db83;
    
            .threadTitle{
                margin: 0.5rem 5%;
                color: white;
                text-align: left;
                text-size-adjust: 10;
            }
        }
    }
}